/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.prose strong {
    @apply text-gray-300 !important;
}

.prose blockquote {
    @apply text-gray-400;
}

.prose code {
    @apply text-red-400 !important;
    background-color: #1f2937;
    padding: 3px 0;
    border-radius: 4px;
}

.prose code::before,
.prose code::after {
    visibility: hidden;
}
