/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.prose strong {
    @apply text-pink !important;
}

.prose blockquote {
    @apply text-gray-100;
}

.prose code {
    color: rgb(242, 82, 135);
    background-color: #1f2937;
    border-radius: 4px;
}

.prose code::before,
.prose code::after {
    visibility: hidden;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    color: white;
}

.prose a {
    text-decoration: none;
    @apply text-lightpink;
}
