@import '../styles/mixins';
@import '../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Karla');

body {
    font-family: 'Karla', sans-serif;
}

a, a:active, a:visited, {
    text-decoration: none;
    border-bottom: 1px solid #000;
	color: inherit;
}

a:hover {
    color: $pink-500;
    border-bottom: 1px solid $pink-500;
}

h1, h2, ul {
	margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

$gutter-gap: 16px;

.container {
    max-width: $breakpoint-md;
    margin-right: auto;
    margin-left: auto;
    padding-right: $gutter-gap;
    padding-left: $gutter-gap;
}

nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar {
    display: grid;
    grid-template-columns: 2fr 1fr 7fr 1fr;
    grid-template-areas: 'home . menu portfolio';
    grid-gap: $gutter-gap;
    width: 100%;
}

.navbar-home {
    grid-area: home;
}

.navbar-menu {
    grid-area: menu;
}

.navbar-menu-item {
    margin-right: 8px;
}

.navbar-portfolio {
    grid-area: portfolio;
    text-align: end;
}

.spacer {
    min-height: 25vh;
}

.index-page {
    margin-top: 32px;
}

ul.entries li {
    position: relative;
    transition: all ease .3s;
}

ul.entries li:hover {
    transform: translateY(-32px);
}


.entry {
    cursor: pointer;
    position: relative;
    height: 196px;
    padding-top: 16px;
    margin-bottom: -32px;
    transition: all .4s ease;
    overflow: hidden;
}

.entry:not(:first-child) {
    padding-top: 15px;
    border-top: none;
}


// BLOG POST

.blog-post {
    padding-top: 16px;
}

.post-meta-content {
    position: relative;
	display: block;
	grid-gap: $gutter-gap;

    @include breakpoint(sm) {
        display: grid;
		grid-template-columns: 2fr 1fr 7fr 1fr;
        grid-template-areas: 'meta . content .'
	}
}

// Override styling for CMS
.frame-content .post-meta-content {
    display: initial;
}

.post-meta {
    grid-area: meta;
}

.post-content {
    grid-area: content;
}

.post-content p:first-child {
    margin-top: 0;
}

.post-content image {
    width: 100%;
}

.taglist li {
    display: inline-block;
    margin-right: 8px;
}

.about {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 2fr 1fr 7fr 1fr;
    grid-template-areas: "meta . content .";
}

.about-content {
    grid-area: content
}

.footer {
    position: relative;
    z-index: 999;
    display: grid;
    min-height: 96px;

    @include breakpoint(sm) {
        grid-template-columns: 1fr 1fr;
    }
}

.footer p:nth-child(2) {
    @include breakpoint(sm) {
        text-align: right;
    }
}

.rotate {
    transform: rotate(90deg);
}

pre {
    margin-left: -1rem;
    margin-right: -1rem;
}

/*
Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax
base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401
*/

.hljs {
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
