@import '../styles/mixins';
@import '../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Karla');
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 62.5%;
}


a, h1, h2, p, small {
	font-size: 1.05rem;
	line-height: 1.6rem;
}

h1, h2, ul {
	margin: 0;
    padding: 0;
}

a, a:active, a:hover, a:visited, {
	text-decoration: none;
	color: inherit;
}

li {
    list-style-type: none;
}

$gutter-gap: 16px;

.container {
    max-width: $breakpoint-md;
    margin-right: auto;
    margin-left: auto;
    padding-right: $gutter-gap;
    padding-left: $gutter-gap;
}

nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
}

.navbar {
    display: grid;
    grid-template-columns: 2fr 1fr 7fr 1fr;
    grid-template-areas: 'home . menu portfolio';
    grid-gap: $gutter-gap;
    width: 100%;
    background-color: white;
}

.navbar-home {
    grid-area: home;
}

.navbar-menu {
    grid-area: menu;
}

.navbar-menu-item {
    margin-right: 8px;
}

.navbar-portfolio {
    grid-area: portfolio;
}

.spacer {
    min-height: 25vh;
}

.index-page {
    margin-top: 32px;
}

.index-page ul li {
    transition: all ease .3s;
}

.index-page ul li:hover {
    transform: translateY(-32px);
}

.bt1-black {
    border-top: 1px solid black;
}

.entry {
    cursor: pointer;
    position: relative;
    height: 364px;
    padding-top: 16px;
    margin-bottom: -198px;
    background-color: white;
    transition: all .4s ease;
}

.blog-post {
    padding-top: 16px;
}

.post-meta-content {
    position: relative;
	display: grid;
	grid-gap: $gutter-gap;
	
    @include breakpoint(sm) {
		grid-template-columns: 2fr 1fr 7fr 1fr;
        grid-template-areas: 'meta . content .'
	}
}

.post-meta {
    grid-area: meta;
}

.post-content {
    grid-area: content;
}

.footer {
    position: relative;
    z-index: 999;
    height: 198px;
    background-color: white;
    border-top: 1px solid black;
}
