@import '../styles/mixins';
@import '../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Karla');
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 62.5%;
}


a, blockquote, li, ol, p, .p, small, ul {
	font-size: 1.05rem;
	line-height: 1.6rem;
}

h1 { font-size: 1.5rem; }
h2 { font-size: 1.17rem; }
h3 { font-size: 1.12rem; }
h4 { font-size: 1.05rem; }
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }

h1, h2, ul {
	margin: 0;
    padding: 0;
}

a, a:active, a:visited, {
    text-decoration: none;
    border-bottom: 1px solid #000;
	color: inherit;
}

a:hover {
    color: $pink-500;
    border-bottom: 1px solid $pink-500;
}

li {
    list-style-type: none;
}

blockquote {
    border-left: 1px solid #000;
    padding-left: 2rem;
}

$gutter-gap: 16px;

.container {
    max-width: $breakpoint-md;
    margin-right: auto;
    margin-left: auto;
    padding-right: $gutter-gap;
    padding-left: $gutter-gap;
}

nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
}

.navbar {
    display: grid;
    grid-template-columns: 2fr 1fr 7fr 1fr;
    grid-template-areas: 'home . menu portfolio';
    grid-gap: $gutter-gap;
    width: 100%;
    background-color: white;
}

.navbar-home {
    grid-area: home;
}

.navbar-menu {
    grid-area: menu;
}

.navbar-menu-item {
    margin-right: 8px;
}

.navbar-portfolio {
    grid-area: portfolio;
    text-align: end;
}

.spacer {
    min-height: 25vh;
}

.index-page {
    margin-top: 32px;
}

.index-page ul li {
    position: relative;
    transition: all ease .3s;
}

.index-page ul li:hover {
    transform: translateY(-32px);
}

.black-line {
    border-top: 1px solid black;
}

.entry {
    border-top: 1px solid black;
    cursor: pointer;
    position: relative;
    height: 196px;
    padding-top: 16px;
    margin-bottom: -32px;
    background-color: white;
    transition: all .4s ease;
    overflow: hidden;
}

.entry:not(:first-child) {
    padding-top: 15px;
    border-top: none;
}


// BLOG POST

.blog-post {
    padding-top: 16px;
}

.post-meta-content {
    position: relative;
	display: grid;
	grid-gap: $gutter-gap;
	
    @include breakpoint(sm) {
		grid-template-columns: 2fr 1fr 7fr 1fr;
        grid-template-areas: 'meta . content .'
	}
}

.post-meta {
    grid-area: meta;
}

.post-content {
    grid-area: content;
}

.post-content p:first-child {
    margin-top: 0;
}

.footer {
    position: relative;
    z-index: 999;
    height: 96px;
    background-color: white;
    border-top: 1px solid black;
}
