@import '../styles/mixins';
@import '../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Karla');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 62.5%;
}


a, h2, p, small {
	font-size: 1.05rem;
	line-height: 1.6rem;
}

h2 {
	margin: 0;
}

a, a:active, a:hover, a:visited, {
	text-decoration: none;
	color: inherit;
}

.home-posts {
	margin-top: 198px;
}

$gutter-gap: 16px;

.container {
    max-width: $breakpoint-md;
    margin-right: auto;
    margin-left: auto;
    padding-right: $gutter-gap;
    padding-left: $gutter-gap;
}

.entry {
    cursor: pointer;
    position: relative;
    height: 364px;
    padding-top: 16px;
    margin-bottom: -198px;
    background-color: white;
	border-top: 1px solid black;
    transition: all ease .3s;
}

.entry:hover {
    transform: translateY(-32px);
}

.post-meta-content {
    position: relative;
	display: grid;
	grid-gap: $gutter-gap;
	
    @include breakpoint(sm) {
		grid-template-columns: 2fr 1fr 7fr 1fr;
        grid-template-areas: 'meta . content .'
	}
}

.post-meta {
    grid-area: meta;
}

.post-content {
    grid-area: content;
}

.footer {
    position: relative;
    z-index: 999;
    height: 198px;
    background-color: white;
    border-top: 1px solid black;
}
